body {
  font-family: Arial, sans-serif;
  padding: 15px;
  background: #f7f7f7;
}

h2, h3 {
  text-align: center;
}

.items button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  background: green;
  color: white;
  border: none;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 6px;
  margin: 4px 0;
  background: white;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: orange;
  color: white;
  border: none;
  margin-top: 10px;
}
