body {
  font-family: Arial, sans-serif;
  max-width: 420px;
  margin: auto;
  padding: 15px;
  background: #f7f7f7;
}

h2, h3 {
  text-align: center;
}

.food-list button {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  font-size: 16px;
  border: none;
  background: #ff9800;
  color: white;
  border-radius: 5px;
}

.food-list button:hover {
  background: #e68900;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: white;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 70px;
}

.order-btn {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  background: green;
  color: white;
  border-radius: 5px;
}
