body {
  font-family: Arial, sans-serif;
  padding: 15px;
  background: #f4f4f4;
}

h2, h3 {
  text-align: center;
}

.food button {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  font-size: 16px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #fff;
  margin: 4px 0;
  padding: 6px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: orange;
  color: white;
  font-size: 18px;
  border: none;
  margin-top: 8px;
}
